body {
    margin: 0px;
    text-align: center;
    font-family: verdana, sans-serif;
    color: #40514E;
  }
  .top-container {
      

   
    padding-top: 100px;
    background-size: 1350px 800px;
    
  }